li{
    list-style-type: none;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  
footer{
    padding: 100px;
}
.nav-link:hover{
    background-color: red;
    color: red;
    cursor: pointer;
}
